obj/BcaEttv.csproj.nuget.dgspec.json
obj/BcaEttv.csproj.nuget.dgspec.json
obj/BcaEttv.csproj.nuget.g.props
obj/BcaEttv.csproj.nuget.g.targets
obj/Debug/net48/BcaEttv.assets.cache
obj/Debug/net48/BcaEttv.csproj.AssemblyReference.cache
obj/Debug/net48/BcaEttv.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0-windows/BcaEttv.assets.cache
obj/Debug/net7.0-windows/BcaEttv.csproj.AssemblyReference.cache
obj/Debug/net7.0-windows/BcaEttv.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/BcaEttv.assets.cache
obj/Debug/net7.0/BcaEttv.csproj.AssemblyReference.cache
obj/Debug/net7.0/BcaEttv.GeneratedMSBuildEditorConfig.editorconfig
obj/project.assets.json
obj/project.nuget.cache
